body {
    background-image: linear-gradient(to top,#3CA55C, #B5AC49);
    min-height: 100vh;
    font-family: 'Dancing Script', sans-serif;
}
h1 {
    margin-left: 270px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(81,67,21),
    -5px 5px 10px rgb(81,67,21),
    -5px -5px 10px rgb(81,67,21),
    5px -5px 10px rgb(81,67,21);
}
.Pizza-image {
    height: 350px;
    box-shadow: 0 0 10px;
    margin-left: 50px;
}
.Lasagna-image {
    height: 350px;
    padding-left: 100px;
    box-shadow: 0 0 10px;
}
.First-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p {
    font-size: 25px;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.ing {
    margin-left: 130px;
    font-size: 25px;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
li {
    font-size: 20px;

}

.Second-row {
    display: flex;
    flex-direction: row;
    
}
.icon {
    margin-left: 100px;
    box-shadow: 0 0 10px;
    height: 200px;
}

.Ing-image {
    height: 250px;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: 0 0 10px;
    margin-top:100px;
}

.description {
    margin-top: 80px;
    font-size: 30px;
}

.burrito-description {
    margin-bottom: 100px;
    font-size: 30px;
}

.burrito-ing-image {
    margin-bottom: 100px;
    margin-right: 50px;
    height: 200px;
    box-shadow: 0 0 10px;
}

